/*GENERAL*/
body{
    background-image: linear-gradient(to bottom, grey, black);
}

h1{
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

h2{
    color: black;
    text-align: center;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}

h3{
    color: black;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}