/*GENERAL*/
body{
    background-color: black;
}

h1{
    color: white;
    background-color: #ffaa0d;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 25px;
    padding: 10px;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin: 25px;
    padding: 10px;
}

h3{
    color: white;
    font-family: 'Righteous', cursive;
    margin: 5px;
    padding: 5px;
}