/*HEADER*/
.header__logo :hover{
    display: inline-block;
    transform: rotateY(180deg)
}

ul{
    list-style-type: none;
            li{
                display: inline-block;
            }
            a{
                    text-decoration: none;
                    color: white;
                    padding: 5px;
                    margin: 10px;
                    border-radius: 10px;
background: #1d1b1b;
box-shadow:  6px 6px 9px #161414,
-6px -6px 9px #242222;
                }
                a:hover{
                    background-color: #FF3312;
                    text-decoration: none;
                    color: white;
                    padding: 5px;
                    margin: 10px;
                }
            }


