/*MAIN*/
.main__form{
    background-color: #ffaa0d;
    display: grid;
    border-radius: 12px;
background: #ffaa0d;
box-shadow: inset 6px 6px 6px #ab7209,
inset -6px -6px 6px #ffe211;
    padding: 5px;
    grid-template-columns: 1fr;
    margin: 30px;
    padding: 5px;
}


.main__noticias--style{
    border-radius: 12px;
background: #ffaa0d;
box-shadow: inset 6px 6px 6px #ab7209,
inset -6px -6px 6px #ffe211;
    padding: 10px;
    margin: 30px;
    font-family: 'Righteous', cursive;
    background-color: #ffaa0d;
}

.main__back{
    display: grid;
    margin: 30px;
    padding: 10px;
    border-radius: 12px;
background: #ffaa0d;
box-shadow: inset 6px 6px 6px #ab7209,
inset -6px -6px 6px #ffe211;
    h3{
        font-family: 'Righteous', cursive;
        text-align: center;
    }
    p{
        color: white;
    }
}

.img__personajes{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 10px;
}

.main__formQuizz{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 50px;
    margin: 10px;
}

.main__trailer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    border-radius: 12px;
background: #ffaa0d;
box-shadow: inset 6px 6px 6px #ab7209,
inset -6px -6px 6px #ffe211;
    margin: 30px;
    padding: 10px;
}

.main__blog--style{
    border-radius: 12px;
background: #ffaa0d;
box-shadow: inset 6px 6px 6px #ab7209,
inset -6px -6px 6px #ffe211;
    padding: 10px;
    margin: 30px;
    font-family: 'Righteous', cursive;
    background-color: #ffaa0d;
}

.main__list{
    background-color: black;
}